[user]
	name = Warren Harper
	email = warren@wjh.io
[merge]
	tool = delta
    conflictstyle = diff3
[diff]
	tool = difft
	algorithm = histogram
	external = difft
    colorMoved = default
[delta]
    navigate = true    # use n and N to move between diff sections
    
[push]
	default = current
    autoSetupRemote = true
[clean]
	requireForce = false
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  wip = for-each-ref --color=always --sort='authordate:iso8601' --format=' %(color:green)%(authorname)%09%(authordate:relative)%09%(color:bold blue)%(refname:short)' refs/heads
  diff = diff -w
  last-diff = diff HEAD~1 HEAD
  s = status -s -b
  #Add non-whitespace changes
  addnw = "!f() { git diff -w --no-color $@ | git apply --cached --ignore-space-change; }; f"

  # Flip a bit to ignore changes to a file locally
  exclude-local = update-index --skip-worktree

  # Reset a bit to start looking at changes in a file
  no-exclude-local = update-index --no-skip-worktree

  # Reset local excludes
  local-excludes = !git ls-files -v | grep "^S"

  curr-branch = rev-parse --abbrev-ref HEAD

  show-tags = log --tags --simplify-by-decoration --pretty='format:%ci %d'

  rs = remote show

  f = fetch

  pull-requests-init = "!f() { local remote=$1; if [ -z \"$remote\" ]; then echo 'git pull-requests <remote>'; return 1; fi; if ! git config --get-all remote.origin.fetch | grep -q '\\+refs/pull/\\*/head:refs/pull/origin/\\*' ;then git config --add remote.${remote}.fetch +refs/pull/*/head:refs/pull/${remote}/*; fi; }; f $@"

  update = "!f(){ git fetch upstream; git rebase upstream/develop; }; f"

  fixup = commit --amend --no-edit

  fp = push --force-with-lease

[branch]
	autosetuprebase = always
[color]
	ui = true
[github]
	user = wrrn

# [url "ssh://git@github.com/"]
# 	insteadOf = https://github.com/
[core]
	attributesfile = /Users/warren.harper/.gitattributes
    pager = delta
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@ghe.spotify.net/"]
	insteadOf = https://ghe.spotify.net/
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/


[pull]
	rebase = true
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[github "ghe.spotify.net/api"]
	user = warrenh
[github "ghe.spotify.net/api/v3"]
	user = warrenh
[rebase]
	autosquash = true

# Enable git to record rebase resolutions so that when I rebase again I won't
# see the same issues
[rerere]
	enabled = true
