// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

spawn-at-startup "xwayland-satellite"
// spawn-at-startup waybar

include "input.kdl"
include "outputs/laptop-screen.kdl"
include "outputs/dell-monitor.kdl"
include "binds.kdl"
include "layout.kdl"
include "screenshots.kdl"
include "picture-in-picture.kdl"
include "environment.kdl"
include "workspaces/messaging.kdl"
