screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    // match app-id="com.obsproject.Studio"
    match app-id="1password"

    block-out-from "screencast"
}

