#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Warren Harper"

[git]
auto-local-bookmark = false
write-change-id-header = true

[aliases]
cat = ["file", "show"]

# Find the closest ancestor with a bookmark pointing at it, and move it to the
# parent of the working copy.
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

# Find the closest bookmark
curr-bookmark = [
  "log",
  "--revisions",
  "heads(ancestors(@) & bookmarks())",
  "--template",
  "local_bookmarks",
  "--no-graph",
]

[ui]
default-command = "log"
diff-formatter = "difft"
pager = "delta"
graph.style = "square"

[mergetools.difft]
diff-args = ["--color=always", "$left", "$right"]

[templates]
git_push_bookmark = '"wrrn/push-" ++ change_id.short()'
