:root.TridactylOwnNamespace a {
    color: #ffffff;
}

:root.TridactylOwnNamespace code {
    background-color: #2a333c;
    padding: 3px 7px;
}

:root {
    /* How we want the drop shadow to look */
    --elevation-level: 6px;

    --tridactyl-font-size: 14px !important;
    --tridactyl-header-font-size: 14px;
    --tridactyl-border-radius: 9px;

    --tridactyl-bg: white;
    --tridactyl-fg: black;

    --tridactyl-of-fg: black;
    --tridactyl-of-bg: #aaaaaa;

    --tridactyl-hintspan-fg: white;
    --tridactyl-hintspan-bg: rgba(170, 170, 170, 0.5);

    --tridactyl-hint-active-fg: black;
    --tridactyl-hint-active-bg: #aaaaaa;
    --tridactyl-hint-active-outline: 10px solid black;

    --tridactyl-hint-bg: rgba(170, 170, 170, 0.25);
    --tridactyl-hint-outline: 1px solid var(--tridactyl-hintspan-bg);

    --tridactyl-url-fg: #aaaaaa;

    --tridactyl-font-family: "Ellograph CF", monospace;
    --tridactyl-cmdl-font-family: "Ellograph CF", monospace;
    --tridactyl-cmdl-font-size: 16px;
    --tridactyl-cmplt-option-height: 1.9em;
    --tridactyl-cmplt-font-family: var(--tridactyl-font-family);
    --tridactyl-cmplt-font-size: var(--tridactyl-font-size);
}

:root.TridactylOwnNamespace {
    scrollbar-width: thin;
}

:root #command-line-holder {
    order: 1;
}

:root #command-line-holder {
    border-radius: var(--tridactyl-border-radius) var(--tridactyl-border-radius)
        0 0 !important;
    padding-left: 1em;
    padding-right: 1em;
}

:root #tridactyl-colon::before {
    content: "";
}

:root #tridactyl-input {
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
}

:root #completions table {
    font-weight: 400;
    table-layout: fixed;
    padding: 1rem;
    padding-top: 0;
}

:root #completions > div {
    max-height: calc(20 * var(--tridactyl-cmplt-option-height));
    min-height: calc(10 * var(--tridactyl-cmplt-option-height));
}

:root #completions {
    border: none !important;
    font-family: var(--tridactyl-font-family);
    order: 2;
    margin-top: 1px;
    border-radius: 0 0 var(--tridactyl-border-radius)
        var(--tridactyl-border-radius);
}

.HistoryCompletionSource table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

.BufferCompletionSource table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

.HistoryCompletionOption td.prefix {
    display: none;
}

.ExcmdCompletionOption td.excmd {
    padding-left: 0.5em;
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#completions table tr td.container,
#completions table tr td.icon,
#completions table tr td.privatewindow {
    width: 1em;
}

#completions table tr td.prefix {
    width: 1em;
}

:root #completions table tr .title {
    width: 50%;
}

:root #completions tr .documentation {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

#completions table tr td.content {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    padding-left: 12px;
}

root #completions table {
    font-weight: 400;
}

:root #completions .sectionHeader {
    background: transparent;
    padding: 1rem 1rem 0.4rem !important;
}

:root #cmdline_iframe {
    max-width: 663px !important;
    width: 90% !important;
    z-index: 2147483647 !important;
    filter: drop-shadow(0px 0px var(--elevation-level) #000000) !important;
    color-scheme: only light;
    border-radius: var(--tridactyl-border-radius) !important;
    max-height: 60% !important;
    position: fixed !important;
    top: 25% !important;
    left: 50% !important;
    transform: translate(-50%) !important;
}

.sectionHeader {
    display: none;
}

:root .TridactylStatusIndicator {
    position: fixed !important;
    bottom: 10px !important;
    right: 10px !important;
    font-weight: 200 !important;
    padding: 5px !important;
    --tridactyl-status-border-radius: var(--tridactyl-border-radius) !important;
}
