# Load functions that allow for expansion of aliases
source $HOME/.space-aliases

# docker aliases
alias drma="docker rm -f \$(docker container ls -q -a)"

# git aliases
alias g="git"
alias gs="git status"
alias gco="git checkout"
alias gr="git rebase"
alias ga="git add"
alias gc="git commit"

# kubernetes aliases
alias k="kubectl"
alias kh="kubectl help"
alias -g ks="scale --replicas"
alias -g ke="exec -ti"
alias -g kaa="apply -R -f ."
alias -g klf="logs -f"
alias -g kgy="get -o yaml"

# make
alias m="make"

# tmux
alias tn="tmux new -s"


# global aliases
alias -g G="| grep"
alias -g b="| bat"
alias -g by="| bat -lyaml"
alias -g bj="| bat -ljson"

# ls
alias ls="exa"
alias ll="exa -l"

# myip aliases
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"

if [ -f $HOME/.aliases.custom ]; then 
   source $HOME/.aliases.custom
fi
